.record {
  width: 98%;
  background-color: #ffffffc3;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  /* box-shadow */
  -webkit-box-shadow: rgba(0, 0, 0, 0.8) 0px 0 10px;
  -moz-box-shadow: rgba(0, 0, 0, 0.8) 0 0 10px;
  box-shadow: rgba(0, 0, 0, 0.8) 0 0 10px;

  margin: 5px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.recordLeft {
  margin-left: 5%;
  width: 60%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;

  color: black;
  font-size: 20px;
  font-weight: 700;
}

.recordMiddle {
  width: 20%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: rgb(82, 82, 78);
  font-size: 15px;
  font-weight: 500;
}

.recordRight {
  width: 20%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .recordRightTop {
    color: black;
    font-size: 15px;
    font-weight: 700;
  }
  .recordRightBot {
    color: rgb(82, 82, 78);
    font-size: 15px;
    font-weight: 500;
  }
}
